body {
	font-family: "Playfair Display Variable", sans-serif;
}

.poppins {
	font-family: "Poppins", sans-serif;
}

.xxx {
	@apply bg-sky-500/10 border border-sky-500/30;
}

p {
	@apply mb-4;
}

a {
	@apply underline;
}

a:hover {
	@apply opacity-80;
}
