---
/* Fonts */
import "@fontsource-variable/playfair-display";
import "@fontsource/poppins";

/* Styles */
import "@src/styles/global.css";

/* Sections */
import Hero from "@sections/Hero.astro";
import Story from "@sections/Story.astro";
import Gallery from "@sections/Gallery.astro";
import Invite from "@sections/Invite.astro";
import About from "@sections/About.astro";
import Footer from "@sections/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-beige-50 text-beige-300">
		<main class="flex flex-col">
			<Hero />
			<Story />
			<Gallery />
			<Invite />
			<About />
			<Footer />
		</main>
	</body>
</html>
