---
import Logo from "@components/Logo.astro";
import Ozdoba from "@components/Ozdoba.astro";
---

<section
	id="hero"
	class="h-[60lvh] lg:h-screen max-h-[950px] flex flex-col justify-center gap-10 md:gap-14 2xl:justify-evenly items-center"
>
	<p class="text-4xl md:text-5xl leading-none">17.8.2024</p>
	<h1 class="sr-only">Vanda & Vojta</h1>
	<Logo style="w-[300px] md:w-[600px] lg:w-[800px] 2xl:w-[920px] mb-4" />
	<Ozdoba style="w-[200px] md:w-[300px]" />
</section>
