---
	import Logo from '@components/Logo.astro';
	import Ozdoba from '@components/Ozdoba.astro';
---

<section id="hero" class="h-screen max-h-[950px] flex flex-col justify-evenly items-center">
	<p class="text-4xl">17.8.2024</p>
	<h1 class="sr-only">Vanda & Vojta</h1>
	<Logo style="w-[920px]" />
	<Ozdoba />
</section>