---

---

<section
	id="invite"
	class="md:h-screen md:max-h-[600px] flex flex-col items-center text-center justify-center gap-4 md:gap-6 py-[60px]"
>
	<h3 class="text-4xl md:text-6xl leading-none">Zveme vás na svatbu</h3>
	<p
		class="text-balance text-lg md:text-2xl leading-[180%] poppins text-black max-w-[36ch]"
	>
		Prosíme, potvrďte svou účast skrze dotazník níže, a to do 1. 3. 2024
	</p>
	<a
		href="https://forms.gle/53ci4daLFGiWRoqb9"
		target="_blank"
		class="h-[56px] md:h-[80px] flex items-center justify-center px-[36px] rounded-full bg-gradient-to-r from-beige-300 to-beige-200 text-white text-lg md:text-2xl poppins hover:to-beige-300 transition-colors duration-200 hover:underline"
		>Potvrďit účast</a
	>
</section>
